<p>
  Created by Saptarshi Bhattacherya in 2020.
  <br />
  GitHub:
  <a
    target="_blank"
    href="https://github.com/truered8/ml-derivative-explanation"
    >https://github.com/truered8/ml-derivative-explanation</a
  >
</p>
