<meta charset="UTF-8" />
<title>Derivatives and Machine Learning</title>
<link rel="icon" type="image/ico" href="images/favicon.ico" />

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: yellowgreen;
    padding: 20px;
    border: solid blue 4px;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
  }
  main {
    padding: 10px;
    font-size: 20px;
  }
  main h3 {
    font-family: "Courier New", Courier, monospace;
  }
  footer {
    font-family: Tahoma, sans-serif;
    padding: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: darkorange;
    border: solid darkgreen 4px;
  }
</style>
