<table>
  <tr>
    <th>Video Length (min)</th>
    <th>Number of Views</th>
    <th>Watched?</th>
  </tr>
  <tr>
    <td>1</td>
    <td>500,000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>7</td>
    <td>200</td>
    <td>No</td>
  </tr>
  <tr>
    <td>5</td>
    <td>3,650,000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>12</td>
    <td>900,000</td>
    <td>No</td>
  </tr>
  <tr>
    <td>0.5</td>
    <td>48</td>
    <td>No</td>
  </tr>
  <tr>
    <td>4</td>
    <td>12,000,000</td>
    <td>Yes</td>
  </tr>
</table>
